:host ::ng-deep .galleriaStyle{
  max-height: 300px !important;
}

.image-gallery{
  width: 100%;
  max-height: 705px;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  background-position: center;
   display: block;
  //  height: 100%;
}
.image-big{
  position: relative;
}
.image-title{
  position:absolute;
  color: white;
  top: 200px;
  left:150px;
  font-family: Oswald;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 96px; /* 111.628% */
text-transform: uppercase;
max-width: 500px;
width: auto;
border-right: 5px solid black;
border-top: 5px solid black;
padding: 0px;
// border:5px inset transparent;
// padding: 20px;
// border-radius: 20px;
}
.btn{

  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
  bottom: 150px;
  left: 150px;
}

@media screen and (max-width:500px) {
  .image-gallery{
    max-height: 400px;
    min-height: 400px;
  }
  .image-title{
    top: 140px;
    left: 70px;
    font-size: 22px;
    line-height: 40px;
    max-width: 250px;
  }
}
// max-height: 410px;
// min-height: 410px;
