<section>
  <div>
    <h1>Featured Items</h1>
    <div class="grid-featured">
      <div *ngFor="let item of items">
        <div class="container">
          <div class="card">
            <img [src]="item.image" alt="product-image" />
            <div class="card_details">
              <h2 class="name">{{ item.title }}</h2>
              <h5 class="price">Price {{ item.price }}</h5>
              <p class="card_description">
                {{ item.description }}
              </p>
              <div class="card_buttons">
                <button
                  tooltipPosition="top"
                  pTooltip="Buy Now"
                  class="buy_now"
                >
                  Buy Now
                </button>
                <button
                  tooltipPosition="top"
                  pTooltip="Add to Cart"
                  class="buy_now"
                >
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
                <button
                  tooltipPosition="top"
                  pTooltip="Add to whish list"
                  class="buy_now"
                  style="margin-left: 50px"
                >
                  <i class="fa-regular fa-heart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn right_arrow">
      <i class="fa-solid fa-angle-right"></i>
    </button>
    <button class="btn left_arrow">
      <i class="fa-solid fa-angle-left"></i>
    </button>
  </div>
</section>
