<section class="main">
  <div class="show-section">

    <div class="first-sec">
      <img class="img-sec" src="../../../../../assets/Photos/image 3.jpg" alt="">
      <div class="inner">
        <h3 class="title-show">Choose your Look</h3>
        <p class="para-show">See our clothing collections</p>
        <button class="btn-show">SEE OFFERS</button>
      </div>
    </div>

    <div class="second-sec">
      <div class="inner-second">
        <h3 class="title-second">Up to 40% off</h3>
        <p class="para-second">Special offers and great deals</p>
        <button class="btn-show">SHOP NOW</button>
      </div>
      <img class="img-second" src="../../../../../assets/Photos/image 5.jpg" alt="">
    </div>

    <div class="third-sec">
      <div class="inner-third">
        <h3 class="title-show">brand new style</h3>
        <p class="para-show">Popular clothing brands</p>
        <button class="btn-show">SEE OFFERS</button>
      </div>
      <img class="img-third" src="../../../../../assets/Photos/image 4 (1).jpg" alt="">
    </div>
  </div>
</section>
